


<div class="wrapper-grey padded">
	<div class="container">
		<h2 class="text-center searchby">Les restaurants <br><br><br></h2>
		<% @restaurants.each do |restaurant| %>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path restaurant.photo, width: 500, height: 180, crop: :fill %>');">
					<div class="card-category"><%= restaurant.category%></div>
					<div class="card-description">
						<h2><%=restaurant.name%></h2>
						<p><%= restaurant.description%></p>
					</div>


					<%= link_to t(".button", default: "Take a look"), restaurant_path(restaurant), class: "card-link" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
</div>


