<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-xs-11 col-xs-offset-0.5 ">
			<h1>By price <br><br></h1>
			
			<% sorted = @restaurants.sort_by { |k| k["rating"] } %>
			
			<% sorted.each do |restaurant| %>

			<div class="card w-75 " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
		url('<%= cl_image_path @restaurant.photo, width: 500, height: 180, crop: :fill %>')">
				<div class="card-block">
					<h3 class="card-title"><%=restaurant.name%></h3>
					<p class="card-text"><p> <%= restaurant.description%> </p>
					<p> <%= restaurant.address%> </p>
					<p> <%= restaurant.price%> </p>
					<p> <%= restaurant.rating%> </p> </p>
					<%= link_to t(".button", default: "Take a look"), restaurant_path(restaurant), class: "btn btn-primary" %>
					<%= link_to t(".button", default: "Rate"), restaurant_path(restaurant), class: "btn btn-primary rate" %>
					<%= link_to t(".button", default: "Reviews"), restaurant_path(restaurant), class: "btn btn-primary rate" %>
					<%= link_to t(".button", default: "Menu"), restaurant_path(restaurant), class: "btn btn-primary rate" %>
				</div>
			</div>
			<%end%>
			
			<br>
			<%= link_to "Add a new restaurant", new_restaurant_path %>
		</div>
	</div>
</div>